body, html {
    padding: 0;
    background: #d0d0d0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.board {
    border-width: 1px 0 0 1px;
    border-color: #000;
    border-style: solid;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.outer-board {
    border: 22px solid #c0c0c0;
    position: relative;
}

.cell {
    border: 1px solid #000;
    border-left: none;
    border-top: none;
    width: 12.5%;
    height: 12.5%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    position: relative;
}

.cell.white {
    background: #d5d5d5;
}

.cell.black {
    background: #999;
}

.cell.clicked::after {
    background: rgba(200, 170, 23, .6);
    content: '';
    inset: 0;
    position: absolute;
    display: block;
    pointer-events: none;
}

.cell.highlight {
    background: rgba(200, 170, 23, .6);
    cursor: pointer;
}

.cell.highlight span{
    pointer-events: none;
}

.cell span.active {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cell span.active:hover {
    background: #abd69f;
}

.current-player {
    position: absolute;
    width: 45px;
    height: 4px;
    background: #3de90f;
    left: 50%;
    top: -12px;
    border-radius: 4px;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #3de90f;
}
.current-player.bottom {
    bottom: -12px;
    top: initial;
}

.check-message {
    font-size: 22px;
    color: black;
    margin: 1rem;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    font-weight: bold;
}
.check-message.active {
    opacity: 1;
}

.check-message.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}